// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: rgb(85, 85, 85) !important;
}

button {
  border-width: 0;
  border: 1px solid rgb(87, 87, 138);
  border-radius: 5px;
  padding: 2px 16px;
}

input {
  border-radius: 5px;
  padding: 2px 12px;
}

img {
  padding-bottom: 22px;
}

h1 {
  display: inline-block;
}

.content {
  background: rgb(250, 250, 250);
  margin-top: 20px;
  border: 1px solid rgb(207, 207, 207);
  transition: 0.1s;
}

.content:hover {
  background: rgb(243, 243, 243);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.title {
  font-size: 1.4rem;
}

.description {
  padding: 0 20px;
  padding-bottom: 20px;
}

.position-loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.spinner {
  position: absolute;
}

.github-logo {
  width: 140px;
}

.github-mark {
  width: 50px;
}

.sec-style {
  margin-bottom: 40px;
}
